---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

import info from '../info'
const { base: baseURL } = info

const blogs = await getCollection('blog-posts')
const sorted = [...blogs].sort(
	(a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))
)
const featured = sorted.filter((b) => b.data.featured)
// .slice(0, 5);
const options: Intl.DateTimeFormatOptions = {
	// weekday: "short",
	year: 'numeric',
	month: 'long',
	day: 'numeric',
}
---

<Layout title="Home">
	<div class="container">
		<h1>Blog.</h1>
		<h2 class="featured">Featured Posts</h2>
		{
			featured.map((blog) => (
				<p class="featured-mark">
					<a href={`${baseURL}/blog/${blog.slug}/`}>{blog.data.title}</a>
					{': '}
					<span class="excerpt">{blog.data?.excerpt}</span>
				</p>
			))
		}
		<h2>All Posts</h2>
		{
			sorted.map((blog) => {
				const date = new Date(blog.data.date)
				date.setHours(date.getHours() + 8)
				return (
					<div class={`posts ${blog.data.featured ? 'featured-mark' : ''}`}>
						<p>{date.toLocaleDateString('en-US', options)}</p>
						<p>
							<a href={`${baseURL}/blog/${blog.slug}/`}>{blog.data.title}</a>
						</p>
					</div>
				)
			})
		}
	</div>
</Layout>

<style>
	.posts > p {
		font-family: monospace;
		font-size: var(--font-size-base);
	}
	.posts {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 2ch;
		align-items: center;
	}
</style>
